<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>Welcome 566ers of Brooklyn</h1>

  <h2>
    This is the home page for the 566 Community Blog
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

<!-- Put picture of building in the image tag/asset pipeline -->

<!-- Check out rails cast of inserting coffee script into asset pipeline http://railscasts.com/episodes/267-coffeescript-basics -->